// Queries
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// Colors
// Neutral

$darkBlue: hsl(209, 23%, 22%);
$veryDarkBl: hsl(207, 26%, 17%);
$veryDarkBlue: hsl(200, 15%, 8%);
$darkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography
$fontFamily: "Nunito Sans", sans-serif;
